@{
    ViewData["Title"] = "Home Page";
}

<style>
    
    .vertical-center {
        min-height: 50vh; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="text-center">

    <h1 class="display-4">Welcome to our rental!</h1>
    <div class="vertical-center">
    <p>Rent a Tesla została stworzona z myślą o miłośnikach nowoczesnych technologii i ekologicznego trybu życia, którzy planują swoją podróż lub pobyt na pięknej wyspie Majorka. Nasza platforma oferuje wyjątkowe doświadczenie wynajmu luksusowych samochodów Tesla, łącząc w sobie wygodę, styl i troskę o środowisko naturalne. </p>
    <br/>
    <h3>Dla kogo jest Rent a Tesla</h3>
    <p>Nasza aplikacja jest idealnym rozwiązaniem dla każdego, kto poszukuje wyjątkowego i ekologicznego sposobu na odkrywanie Majorki. Bez względu na to, czy jesteś mieszkańcem wyspy, czy turystą, "Rent a Tesla"" oferuje niezapomniane wrażenia z jazdy jednymi z najbardziej zaawansowanych technologicznie samochodów na świecie.</p>
        <br />
    <h4>Zapraszamy do doświadczenia nowej ery wynajmu samochodów z "Rent a Tesla"" – tam, gdzie luksus spotyka się z ekologią.</h4>
    </div>


</div>
